{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome | {% endblock %}

{% block content %}
<div class="page-container">
    <h1 class="page-title">Yahoo Finance</h1>
</div>
{% include 'finance_app/sidebar.html' %}

<div class="content-container" style="margin-left: 30%;">
    <h2>Options Data</h2>
    
    <div id="resultsSection" style="color: white;">
        <!-- Current price and error messages will be displayed here -->
    </div>
    
    <div id="optionsSection" style="color: white;">
        <div id="callsSection">
            <h3>Calls</h3>
            <div id="callsTableContainer" class="table-container">
                <!-- Calls table will be displayed here -->
            </div>
        </div>
        <div id="putsSection">
            <h3>Puts</h3>
            <div id="putsTableContainer" class="table-container">
                <!-- Puts table will be displayed here -->
            </div>
        </div>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function () {
    var tickerInput = document.getElementById('tickerSymbolInput');
    var strategySelect = document.getElementById('strategySelect');
    var tradeDurationSelect = document.getElementById('tradeDurationSelect');
    var expiryDateSelect = document.getElementById('expiryDateSelect');
    var isInitialLoad = true;
    var sharesValue = 100; // Default value for shares
    var shareCostValue; // Variable to store share cost value
    var selectedStrike = null; // Initialize selectedStrike to null

    // Function to fetch all inputs with current parameters
    function fetchAllInputs(symbol, tradeDuration, expirationDate = null, strategy = 'Covered Call') {
        $.ajax({
            url: "{% url 'process_all_inputs' %}",
            type: 'GET',
            data: {
                "strategy": strategy,
                "symbol": symbol,
                "trade_duration": tradeDuration,
                "expiration_date": expirationDate,
                "shares": sharesValue, // Include shares value in the AJAX request
                "share_cost": shareCostValue, // Include share cost value in the AJAX request
                "selected_strike": selectedStrike // Include selected strike prices in the AJAX request
            },
            success: function (response) {
                // Handle expiration dates
                if (response.expiration_dates) {
                    expiryDateSelect.innerHTML = '';
                    response.expiration_dates.forEach(function (date) {
                        var option = document.createElement('option');
                        option.value = date;
                        option.textContent = date;
                        expiryDateSelect.appendChild(option);
                    });

                    if (isInitialLoad) {
                        isInitialLoad = false;
                        expiryDateSelect.dispatchEvent(new Event('change'));
                    }
                }

                // Handle current price
                if (response.current_price) {
                    var formattedPrice = parseFloat(response.current_price).toFixed(2);
                    document.getElementById('resultsSection').innerHTML = `Current price of ${symbol}: $${formattedPrice}`;
                }

                // Handle calls data
                if (response.calls_data) {
                    var callsTable = createTable(response.calls_data);
                    document.getElementById('callsTableContainer').innerHTML = callsTable;
                }

                // Handle puts data
                if (response.puts_data) {
                    var putsTable = createTable(response.puts_data);
                    document.getElementById('putsTableContainer').innerHTML = putsTable;
                }

                // Handle option details
                if (response.option_details) {
                    var optionLegsContainer = document.getElementById('optionLegsContainer');
                    optionLegsContainer.innerHTML = '';
                    var optionsData = [];

                    response.option_details.forEach((leg, i) => {
                        var optionLeg = document.createElement('div');
                        optionLeg.className = 'option-leg';
                        optionLeg.innerHTML = `<h4>Option Leg ${i + 1}</h4>`;

                        if (leg[0] === 'Stock') {
                            optionLeg.innerHTML += `
                                <label>${leg[1]}</label>
                                <input type="number" min="1" max="1000" value="100" id="shares_${i}" class="option-input" /><br>
                                <label>${leg[2]}</label>
                                <input type="number" min="0.01" max="${10 * response.current_price}" value="${response.current_price}" step="0.01" id="share_cost_${i}" class="option-input" />
                            `;
                        } else {
                            var optionType = leg[0];
                            var optionData = optionType === 'Call' ? response.calls_data : response.puts_data;
                            var availableStrikes = optionData.map(option => option.Strike);
                            var lastPriceData = {};
                            availableStrikes.forEach(strike => {
                                var matchingOption = optionData.find(option => option.Strike === strike);
                                lastPriceData[strike] = matchingOption ? matchingOption['Last Price'] : 0.0;
                            });
                            optionsData.push(lastPriceData);

                            var options = availableStrikes.map(strike => `<option value="${strike}">${strike}</option>`).join('');
                            var defaultStrikeValue = availableStrikes[0];
                            var defaultPremiumValue = lastPriceData[defaultStrikeValue];

                            optionLeg.innerHTML += `
                                <label>${leg[1]}</label>
                                <select id="Strike_${i}" data-index="${i}" class="option-input" onchange="updatePremium(${i}, this.value, ${JSON.stringify(lastPriceData)})">
                                    ${options}
                                </select><br>
                                <label>Premium</label>
                                <input type="number" min="0.0" max="1000.0" value="${defaultPremiumValue}" step="0.1" id="premium_${i}" class="option-input" /><br>
                                <label>Quantity</label>
                                <input type="number" min="1" max="100" value="1" id="quantity_${i}" class="option-input" />
                            `;

                            // Set default selected strike if not set
                            if (!selectedStrike) {
                                selectedStrike = parseFloat(leg[2]); // Assuming leg[2] contains the selected strike info
                            }
                        }

                        optionLegsContainer.appendChild(optionLeg);
                    });

                    attachInputListeners();
                }

                // Update share cost value
                if (response.current_price !== undefined) {
                    shareCostValue = parseFloat(response.current_price);
                }

                // Handle errors
                if (response.error) {
                    console.log(`Error: ${response.error}`);
                    document.getElementById('resultsSection').innerHTML = `Error: ${response.error}`;
                }

                // Debug: Log the average share cost value
                console.log("Average share cost:", shareCostValue);
                console.log("Selected strike (after fetch):", selectedStrike); // Debug statement
            },
            error: function (error) {
                console.log('Error fetching data:', error);
                document.getElementById('resultsSection').innerHTML = 'Error fetching data';
            }
        });
    }


    function updatePremium(index, strikeValue, premiumValues) {
        var premiumInput = document.getElementById(`premium_${index}`);
        if (premiumValues && premiumValues[strikeValue] !== undefined) {
            premiumInput.value = premiumValues[strikeValue];
        } else {
            premiumInput.value = '';
        }
    }

    function getSelectedStrike() {
        var selectedStrikeInput = document.querySelector('.option-input[id^="Strike_"]');
        if (selectedStrikeInput) {
            return parseFloat(selectedStrikeInput.value);
        }
        return null;
    }

    function attachInputListeners() {
        var inputs = document.querySelectorAll('.option-input');
        inputs.forEach(function(input) {
            input.addEventListener('change', function() {
                var symbol = tickerInput.value;
                var tradeDuration = tradeDurationSelect.value;
                var expirationDate = expiryDateSelect.value;
                var strategy = strategySelect.value;

                // Update sharesValue if the input field is for shares
                if (this.id.startsWith('shares')) {
                    sharesValue = parseInt(this.value);
                }

                // Update shareCostValue if the input field is for share cost
                if (this.id.startsWith('share_cost')) {
                    shareCostValue = parseFloat(this.value);
                }

                // Get the selected strike price
                selectedStrike = getSelectedStrike();
                console.log("Selected strike:", selectedStrike); // Debug statement

                // Fetch data with updated values
                fetchAllInputs(symbol, tradeDuration, expirationDate, strategy);

                // Debug: Log the current values of sharesValue, shareCostValue, and selectedStrike
                console.log("Shares value:", sharesValue);
                console.log("Average share cost:", shareCostValue);
                console.log("Selected strike:", selectedStrike);
            });
        });
    }

    function createTable(data) {
        var table = '<table><thead><tr>';
        for (var key in data[0]) {
            table += `<th>${key}</th>`;
        }
        table += '</tr></thead><tbody>';
        data.forEach(function (row) {
            table += '<tr>';
            for (var key in row) {
                table += `<td>${row[key]}</td>`;
            }
            table += '</tr>';
        });
        table += '</tbody></table>';
        return table;
    }

    function fetchExpirationDates() {
        var symbol = tickerInput.value;
        var tradeDuration = tradeDurationSelect.value;
        var strategy = strategySelect.value;
        fetchAllInputs(symbol, tradeDuration, null, strategy);
    }

    // Fetch data on page load
    fetchExpirationDates();

    // Fetch data when any of the inputs change
    tickerInput.addEventListener('input', function () {
        fetchExpirationDates();
    });
    tradeDurationSelect.addEventListener('change', function () {
        fetchExpirationDates();
    });
    expiryDateSelect.addEventListener('change', function () {
        var symbol = tickerInput.value;
        var tradeDuration = tradeDurationSelect.value;
        var expirationDate = expiryDateSelect.value;
        var strategy = strategySelect.value;
        fetchAllInputs(symbol, tradeDuration, expirationDate, strategy);
    });
    strategySelect.addEventListener('change', function () {
        var symbol = tickerInput.value;
        var tradeDuration = tradeDurationSelect.value;
        var expirationDate = expiryDateSelect.value;
        var strategy = strategySelect.value;
        fetchAllInputs(symbol, tradeDuration, expirationDate, strategy);
    });
});


</script>

<style>
    .table-container {
        width: 100%;
        max-height: 300px;
        overflow-y: auto;
        border: 1px solid #ccc;
        margin-bottom: 20px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        color: white;
    }
    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }
    th {
        background-color: #4CAF50;
    }
</style>




{% endblock %}