{% extends 'base.html' %}

{% block title %} Log in{% endblock %}

{% block content %}

<div class="login-page-margin">
    <div class="page-container">
        <h1 class="page-title">Log in</h1>
    </div>

    <form method="post" action="." class="form-container">
        {% csrf_token %}

        {% if form.non_field_errors %}
            <div class="form-error">
                {% for error in form.non_field_errors %}
                    <div>{{ error }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="form-group">
            <label for="id_username" class="form-label">Username</label>
            <input type="text" id="id_username" name="username" class="form-input">
            {% if form.username.errors %}
                <div class="form-error">
                    {% for error in form.username.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="id_password" class="form-label">Password</label>
            <input type="password" id="id_password" name="password" class="form-input">
            {% if form.password.errors %}
                <div class="form-error">
                    {% for error in form.password.errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <button type="submit" class="form-button">Log in</button>
    </form>
</div>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function(){
        $('#userMenuButton').dropdown();
    });
</script>

<style>

    .login-page-margin {
        margin-top: 100px;
    }
    /* CSS for the login page */
    .page-container {
        padding: 10px;
        text-align: center;
    }

    .page-title {
        font-size: 24px;
        color: #fff;
        margin-top: 20px;
    }

    @media (min-width: 1024px) {
        .page-title {
            font-size: 48px;
        }
    }

    .form-container {
        margin-top: 50px;
        width: 60%; /* Increase the width of the form container */
        margin: 0 auto; /* Center the form container */
    }

    .form-label {
        color: #fff;
    }

    .form-button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #262730;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .form-button:hover {
        background-color: #262730;
    }

    .form-error {
        margin-top: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: #ffcccc;
        color: #ff0000;
    }
</style>
{% endblock %}
