{% load static %}
{% block content %}
<!-- sidebar.html -->


<div class="sidebar">
    <img src="{% static 'images/download.png' %}" alt="Image">

    <h3>Options Strategy Analyzer</h3>

    <!-- The ticker symbol input -->
    <h3>Enter Ticker Symbol</h3>
    <input type="text" id="tickerSymbolInput" value="SPY">

    <div id="resultsSection" style = "color: white">
        <!-- Current price and error messages will be displayed here -->
    </div>

    <!-- The choose strategy input -->
    <h3>Choose Strategy</h3>
    <select id="strategySelect">
        <option value="Covered Call">Covered Call</option>
        <option value="Collar">Collar</option>
        <option value="Put Sale">Put Sale</option>
    </select>

    <!-- The trade duration input -->
    <p>How long would you like to implement this trade?</p>
    <select id="tradeDurationSelect">
        <option value="Less than 30 days">Less than 30 days</option>
        <option value="30-90 days">30-90 days</option>
        <option value="90+ days">90+ days</option>
    </select>

    <!-- The expiry date input -->
    <h3>Select Expiry Date:</h3>
    <select id="expiryDateSelect">
        <!-- Options will be populated dynamically -->
    </select>

    <!-- Container for option legs -->
    <div id="optionLegsContainer">
        {% for leg in option_details %}
        <div class="option-leg">
            <h4>Option Leg {{ forloop.counter }}</h4>
            {% if leg.0 == 'Stock' %}
                <label>{{ leg.1 }}</label>
                <input type="number" min="1" max="1000" value="100" id="shares_{{ forloop.counter0 }}" class="option-input" /><br>
                <label>Average Share Cost</label>
                <input type="number" min="0.01" max="{{ multiplied_current_price }}" value="{{ current_price }}" step="0.01" id="share_cost_{{ forloop.counter0 }}" class="option-input" />
            {% else %}
                <label>{{ leg.1 }}</label>
                <select id="Strike_{{ forloop.counter0 }}" class="option-input">
                    {% for strike in leg.2.strikes %}
                    <option value="{{ strike }}" {% if strike == leg.2.default_strike %}selected{% endif %}>{{ strike }}</option>
                    {% endfor %}
                </select>
                <label>Premium</label>
                <input type="number" min="0.0" max="1000.0" value="{{ leg.2.default_premium }}" step="0.1" id="premium_{{ forloop.counter0 }}" class="option-input" /><br>
                <label>Quantity</label>
                <input type="number" min="1" max="100" value="1" id="quantity_{{ forloop.counter0 }}" class="option-input" />
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}