{% load static %}
{% block content %}
<!-- sidebar.html -->
<div class="sidebar" style="width: 30%; background-color: #262730; color: white; position: fixed; height: 100%; overflow-y: auto;">
    <img src="{% static 'images/gift.jpeg' %}" alt="Image" style="width: 30%;">

    <h3 style="color: white;">Options Strategy Analyzer</h3>
    
    <h3 style="color: white;">Enter Ticker Symbol</h3>
    <input type="text" id="tickerSymbolInput" value="SPY">
    <div id="resultsSection" style="color: white;">
        <!-- Current price and error messages will be displayed here -->
    </div>

    <h3>Choose Strategy</h3>
    <select id="strategySelect">
        <option value="Covered Call">Covered Call</option>
        <option value="Collar">Collar</option>
        <option value="Put Sale">Put Sale</option>
    </select>

    <h3 style="color: white;">Select Trade Duration</h3>
    <select id="tradeDurationSelect">
        <option value="Less than 30 days">Less than 30 days</option>
        <option value="30-90 days">30-90 days</option>
        <option value="90+ days">90+ days</option>
    </select>

    <h3 style="color: white;">Select Expiry Date</h3>
    <select id="expiryDateSelect">
        <!-- Options will be populated dynamically -->
    </select>
     <!-- Container for option legs -->
    <div id="optionLegsContainer"></div>

</div>

{% endblock %}
