{% extends 'base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}

<div class = "signup-page-margin">
    <div class="page-container">
        <h1 class="page-title">Sign up</h1>
    </div>

    <form method="post" action="." class="form-container">
        {% csrf_token %}

        <div class="form-group">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" name="username" class="form-input">
        </div>

        <div class="form-group">
            <label for="password1" class="form-label">Password</label>
            <input type="password" id="password1" name="password1" class="form-input">
        </div>

        <div class="form-group" style="width: 36%;">
            <label for="password2" class="form-label">Confirm password</label>
            <input type="password" id="password2" name="password2" class="form-input">
        </div>

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="form-error">{{ error|escape }}</div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <button type="submit" class="form-button">Submit</button>
    </form>
</div>
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

   <!-- Bootstrap JS -->
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

<script>
    $(document).ready(function(){
        $('#userMenuButton').dropdown();
    });
</script>

<style>
    
    .signup-page-margin {
        margin-top: 100px;
    }
    /* CSS for the sign-up page */
    .page-container {
        padding: 10px;
        text-align: center;
    }

    .page-title {
        font-size: 24px;
        color: #fff;
        margin-top: 20px;
    }

    @media (min-width: 1024px) {
        .page-title {
            font-size: 48px;
        }
    }

    .form-container {
        width: 50%;
        margin: 0 auto;
    }

 
    .form-label {
        color: #fff;
    }


    .form-button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #262730;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .form-button:hover {
        background-color: #262730;
    }

    .form-error {
        margin-top: 10px;
        padding: 10px;
        border-radius: 5px;
        background-color: #ffcccc;
        color: #ff0000;
    }
</style>
{% endblock %}
