/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: black !important;
  color: white;
}


#payoffDiagram {
  width: 297px; /* Set the desired width */
  height: 446px; /* Set the desired height */
  overflow: hidden; /* Hide any content that overflows the container */
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  max-height: 400px; /* Set a maximum height for the flex container */
}

.flex-container > .container {
  flex: 1;
  margin: 0;
  padding: 0;
  border: none;
}


.btn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: white;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: lightgray;
  color: black;
}

.page-container {
  padding: 10px;
  text-align: center;
}

.page-title {
  font-size: 24px;
  color: #fff;
  margin-top: 20px;
}

@media (min-width: 1024px) {
  .page-title {
      font-size: 48px;
  }
}


/* ############################  sidebar  ########################################### */
.sidebar {
  width: 30%;
  background-color: #262730;
  color: white;
  position: fixed;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar img {
  width: 100%;
  margin-bottom: 20px;
}

.sidebar h3 {
  margin-top: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center elements horizontally */
}

.option-leg {
  margin-bottom: 20px;
}

.option-leg label {
  display: block;
  margin-bottom: 5px;
}

input[type='text'],
input[type='number'],
input[type='password'],
select {
  width: 100%; /* Increase width to 80% */
  height: 40px; /* Increase height */
  background-color: black; /* Set background color to black */
  color: white; /* Set text color to white */
  padding-left: 10px; /* Add padding to the left */
  padding-right: 10px; /* Add padding to the right */
  border: 1px solid white; /* Initial border color */
  border-radius: 5px; /* Make corners rounded */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  text-align: left; /* Align text to the left */
}

input[type='text']:focus,
input[type='number']:focus,
input[type='password']:focus,
select:focus {
  border-color: red; /* Highlight border in red when focused */
}

select {
  height: 40px; /* Increase height */
}

.option-leg:last-child {
  margin-bottom: 0;
}

.number-input {
  display: flex;
  align-items: center;
}

.number-input button {
  background-color: #333;
  color: white;
  border: none;
  width: 30px;
  height: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px; /* Make corners rounded */
}

.number-input button:focus {
  outline: none;
}

.number-input input {
  text-align: left; /* Align text to the left */
  width: calc(100% - 60px); /* Adjust width to account for button size */
  height: 40px;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 5px; /* Make corners rounded */
  box-sizing: border-box;
}

.number-input button.minus {
  border-right: 1px solid white;
}

.number-input button.plus {
  border-left: 1px solid white;
}


.container-fluid {
  position: absolute;
  top: 20px; /* Margin from the top */
  width: 100%;
  z-index: 1000; /* Ensure it appears on top of other elements */
}
/* ######################################### */

.main-content {
  margin-left: 30%;
  background-color: black;
  color: white;
  padding: 20px;
  height: 100%;
}

/* ############ TABLE ############### */

.table-container {
  border: none; /* Remove borders */
  border-radius: 0; /* Remove border radius */
  width: 100%; /* Set width */
  max-height: 300px; /* Set maximum height */
  overflow: auto; /* Enable scrolling */
  overflow-x: auto; /* Enable horizontal scrolling */
}

.custom-table {
  min-width: 100%; /* Set minimum width */
  table-layout: fixed; /* Fixed table layout */
}

.custom-table th,
.custom-table td {
  padding: 10px; /* Add padding */
  border: 1px solid white; /* Add border */
  overflow: visible; /* Make overflow visible */
  text-overflow: ellipsis; /* Show ellipsis for overflow */
  white-space: nowrap; /* Prevent wrapping */
}

.container {
  border: none; /* Remove border */
}

.container h3 {
  background-color: #1A1C24; /* Set background color */
  color: white; /* Set text color */
  padding: 10px; /* Add padding */
  border-radius: 5px; /* Add border radius */
  margin-top: 0; /* Remove top margin */
}


/* ######################################### */

.container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.summary-content {
  overflow-y: visible;
  max-height: 300px;
}

.indent {
  padding-left: 40px;
  margin-bottom: 5px;
}

.container div {
  margin-bottom: 5px;
}

.content-container {
  background-color: black;
}
/* styles.css */
.black-background {
  background-color: black;
  color: white;
}

/* dropdown menu */
.dropdown-menu {
  right: 0;
  left: auto;
  background-color: black;
  color: white;
  min-width: 10rem;
  max-width: 20rem;
  overflow-wrap: break-word;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #333;
  color: white;
}
